@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.theme-dark {
    --bg-color-body: #171823;
    --bg-image-body: url(images/bg-mobile-dark.jpg);
    --bg-list: #25273D;
    --box-shadow: black;
    --grey-text: #767992;
    --circle-border: #393A4B;
    --white-text: #C8CBE7;
    --crossed-text: #4D5067;
    --bottom-items-color: #5B5E7E;
    --filter-hover: #E3E4F1;
    --bg-image-desktop: url(images/bg-desktop-dark.jpg);
    --add-item-text: #C8CBE7;
}

.theme-light {
    --bg-color-body: #FAFAFA;
    --bg-image-body: url(images/bg-mobile-light.jpg);
    --bg-list: #FAFAFA;
    --box-shadow: grey;
    --grey-text: #9495A5;
    --circle-border: #E3E4F1;
    --white-text: #494C6B;
    --crossed-text: #D1D2DA;
    --bottom-items-color: #9495A5;
    --filter-hover: #494C6B;
    --bg-image-desktop: url(images/bg-desktop-light.jpg);
    --add-item-text: #393A4B;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    background-image: var(--bg-image-body);
    background-repeat: no-repeat;
    background-color: var(--bg-color-body);
    margin: 0 auto;
    background-size: 100vw 25vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 540px;
    margin: 0 1.5rem;
    position: relative;
    
}

h1 {
    color: white;
    letter-spacing: 10px;
    font-size: 33px;
}

.theme-block #theme {
    display: none;
}

.theme-block #theme + label::before {
    content: "";
    background: url(images/icon-sun.svg);
    display: block;
    height: 26px;
    width: 26px;
    cursor: pointer;

}

.theme-block #theme:checked + label::before {
    background: url(images/icon-moon.svg);
}

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.add-new-item {
    background: var(--bg-list);
    height: 3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 24px;
    box-shadow: 0px 35px 50px -15px var(--box-shadow);
    margin-bottom: 1rem;
}

.add-new-item #addItem {
    background: transparent;
    color: var(--add-item-text);
    border: 0;
    outline: 0;
    font-family: inherit;
    top: 1px;
    position: relative;
    font-size: 14px;
    width: 100%;
}

.add-new-item span {
    width: 22px;
    height: 20px;
    border: 1px solid var(--circle-border);
    display: block;
    border-radius: 50px;
    cursor: pointer;
}

.add-new-item span:hover {
    border: none;
    background: center url(./images/icon-check.svg) no-repeat, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.content {
    background: var(--bg-list);
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 35px 50px -15px var(--box-shadow);
    font-size: 14px;
}

ul {
    list-style: none;
    padding-right: 24px;
    padding-left: 24px;
}

ul li {
    color: var(--white-text);
    height: 52px;
    border-bottom: 1px solid var(--circle-border);
    display: flex;
    align-items: center;
    position: relative;
}

ul li input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
}

ul li label {
    position: relative;
    padding-left: 35px;
    padding-top: 4px;
    padding-left: 38px;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0px;
    height: 20px;
    width: 20px;
    left: 0;
}

ul li input[type="checkbox"] ~ .checkmark {
    border: 1px solid var(--circle-border);
    border-radius: 50px;
    position: absolute;
}

ul li input[type="checkbox"] ~ .checkmark:hover {
    border-color: #C058F3;
}

ul li input[type="checkbox"]:checked ~ .checkmark {
    border: none;
    background: center url(./images/icon-check.svg) no-repeat, linear-gradient(135deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.flex-row {
    overflow: auto;
    scrollbar-width: none;
}

ul li input[type="checkbox"]:checked ~ .text {
    text-decoration: line-through;
    color: var(--crossed-text);
}

.bottom-items {
    color: var(--bottom-items-color);
    font-size: 14px;
    border-radius: 0 0 5px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
    text-align: center;
}


.filter input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
}

.filter label {
    cursor: pointer;
    padding: 0 10px;
}

.items-left {
    cursor: pointer;
}

.clear {
    cursor: pointer;
}

.filter label:hover {
    color: var(--filter-hover);
}

.items-left:hover {
    color: var(--filter-hover);
}

.clear:hover {
    color: var(--filter-hover);
}

.filter {
    display: flex;
    gap: 18px;
}

.grid-1 {
    grid-column: 1 / 2;
    background: var(--bg-list);
    height: 50px;
    border-radius: 0 0 0 5px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    gap: 5px;
    font-size: 12px;
}

.grid-2 {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 48px;
    align-items: center;
    border-radius: 5px 5px 0 0;
}

.grid-3 {
    grid-column: 2 / 3;
    background: var(--bg-list);
    height: 50px;
    border-radius: 0 0 5px 0;
    display: flex;
    align-items: center;
    padding: 0 25px;
    justify-content: end;
    font-size: 12px;
}

.filter input[type="radio"]:checked ~ span {
    color: #3A7CFD;
}

.remove {
    background: url(images/icon-cross.svg) no-repeat;
    width: 17px;
    height: 17px;
    display: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 18;
}

ul li:hover .remove {
    display: block;
}

ul li.hidden {
    display: none;
}

.list-item {
    max-width: 94%;
}

/* DESKTOP */
@media (min-width: 750px) {
    h1 {
        font-size: 43px;
        padding-top: 14px;
    }

    header {
        align-items: center;
    }

    .add-new-item {
        height: 64px;
    }

    ul li {
        height: 64px;
    }

    .content {
        font-size: 16px;
    }
    
    .grid-1 {
        font-size: 13px;
    }

    .grid-3 {
        font-size: 13px;
    }

    .add-new-item #addItem {
        font-size: 16px;
    }

    body {
        background-image: var(--bg-image-desktop);
    }
}